{% extends 'layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
<div class="mt-5">
    <div class="form-signin">
        <form role="form" action="{{ path('login_check') }}" method="post">
            <div class="form-floating">
                <input type="text" name="_username" value="{{ last_username }}" class="form-control" placeholder="Enter your username" required autofocus>
                <label for="floatingInput">Utilisateur</label>
            </div>
            <div class="form-floating">
                <input type="password" name="_password" class="form-control" placeholder="Enter your password" required>
                <label for="floatingPassword">Mot de passe</label>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-secondary mt-3 mb-5"> Se connecter</button>
            </div>
        </form>
        {% if error %}
        <div class="alert alert-danger mt-5">
            <strong>Échec de la connexion ! </strong> {{ error }}
        </div>
        {% endif %}
    </div>
</div>
<!-- Bootstrap template https://getbootstrap.com/docs/5.0/examples/sign-in/ -->
{% endblock %}