
h1 {
    font-size: 1.8rem;
}

.card-footer {
    background: transparent;
    border-top: 0px;
  }

.navbar-brand {
    position: relative;
    background: no-repeat center/100% url("../images/logo.png");
    width: 115px;
    height: 50px;
    left: 10px;
}

.link {
    margin-top: 5rem;
}

.link .desc {
    text-align: justify;
}

.footer {
    height: 35px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="name"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
